<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Detalle de registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Datos recibidos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>Nombre:</b> {{ registro.nombre }}</p>
      <p><b>Correo:</b> {{ registro.correo }}</p>
      <p><b>Tipo:</b> {{ registro.tipoApp }}</p>
    </ion-card-content>
  </ion-card>

  <app-resumen-registro [registro]="registro"></app-resumen-registro>

  <app-selector-tipo (tipoCambiado)="actualizarTipo($event)"></app-selector-tipo>

  <ion-button expand="block" color="dark" routerLink="/consulta">
    Ver registros guardados
  </ion-button>

  <ion-button expand="block" fill="clear" routerLink="/home">
    Volver a Home
  </ion-button>

</ion-content>